<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)">
        <ion-label><h2 style="color: #EDF79DFF">{{ctx.getUser().name}}</h2><p style="color: #fff">VIP有效期:{{ctx.getUser().vip_days}}天</p></ion-label>
        <ion-avatar>
          <img src="assets/images/default.png" alt="Avatar" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

