.avatar-button {
  display: flex;
  align-items: center;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.text-container {
  line-height: 21px;
  margin-left: 8px; /* 调整文字与头像的间距 */
}
