<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-button class="avatar-button">
        <div class="avatar-container">
          <ion-avatar>
            <ion-img style="width: 50px; height: 50px;" src="assets/icon/favicon.png"></ion-img>
          </ion-avatar>
          <ion-label class="text-container">
            <div>{{ctx.getUser().name}}</div>
            <div>VIP有效期:{{ctx.getUser().vip_days}}天</div>
          </ion-label>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-select color="err1" placeholder="选择项目" [(ngModel)]="selectedItem">
      <ion-select-option value="1">项目1</ion-select-option>
      <ion-select-option value="2">项目2</ion-select-option>
      <ion-select-option value="3">项目3</ion-select-option>
      <ion-select-option value="4">项目4</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>
