<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="返回" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{quiz.title}}－{{testTypes[quiz.test_type]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="quiz-content">
  <ion-item lines="none" style="width: 90%;margin-bottom: 20px;margin-top:10px;margin: 0 auto;">
    <ion-label slot="start" style="font-size: 18px">单元: {{quiz.unit_name}}(共{{quiz.total}}题)</ion-label>
    <ion-label>进度: {{index }}/{{quiz.total}}</ion-label>
    <ion-label color="success" slot="end">正确: {{quiz.corrects}}</ion-label><ion-label color="danger" slot="end">错误: {{quiz.wrongs}}</ion-label>
  </ion-item>
  <ion-card class="quiz-card">
    <ion-card-header class="quiz-header">
      <ion-progress-bar color="danger" [value]="progress"  ></ion-progress-bar>
      <ion-card-subtitle style="font-size: 24px">{{word?.acceptation}}</ion-card-subtitle>
      <ion-card-title style="height: 70px"><span *ngIf="answered"><ion-text  style="font-size: 64px;" *ngFor="let a of mySpell.word; let i = index"
                                [color]="getLetterColor(i)">{{a}}</ion-text></span></ion-card-title>

    </ion-card-header>

    <ion-card-content >
      <table class="word-spell" >
        <tr>
          <td *ngFor="let w1 of mySpell.option1; let i = index" [class]="getCellColor('option1', i)"
              (click)="spellOptionReply('option1',i)" >{{w1}}</td>
        </tr>
        <tr>
          <td *ngFor="let w2 of mySpell.option2; let i = index" [class]="getCellColor('option2', i)"
              (click)="spellOptionReply('option2',i)" >{{w2}}</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-button size="default" slot="end" (click)="stop()" *ngIf="answered && !isPause">暂停</ion-button>
    <ion-button size="default" slot="end" (click)="start()" *ngIf="answered && isPause">继续</ion-button>
  </ion-item>

</ion-content>
