<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>{{quiz?.unit_name}}－{{testTypes[quiz.test_type]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="quiz-content">
  <ion-item lines="none" style="width: 90%;margin-bottom: 20px;margin-top:10px;margin: 0 auto;">
    <ion-label slot="start" style="font-size: 18px">单元: {{quiz.unit_name}}(共{{quiz.questions?.length}}题)</ion-label>
    <ion-label>进度: {{index - 1}}/{{quiz.questions?.length}}</ion-label>
    <ion-label color="success" slot="end">正确: {{quiz.corrects}}</ion-label><ion-label color="danger" slot="end">错误: {{quiz.wrongs}}</ion-label>
  </ion-item>
  <ion-card class="quiz-card">
    <ion-card-header class="quiz-header">
      <ion-card-title class="quiz-item"><ion-text color="err2" style="font-size: 64px">{{question.title}}</ion-text></ion-card-title>
      <ion-progress-bar color="danger" [value]="progress"  ></ion-progress-bar>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="quiz-item"  [class]="answered ? 'custom-disabled': ''"  button=""  detail="false" *ngFor="let choice of question.choices; let i=index" (click)="choice_answer(choice.id)" [color]="showAnswer(choice.id)">
        <ion-label style="font-size: 18px">{{options[i]}}.　{{choice.title}}</ion-label>
        <ion-icon  name="close-circle-outline" *ngIf="question.right_answer !== choice.id && question.user_answer === choice.id" ></ion-icon>
        <ion-icon color="warning"  name="checkmark-circle-outline" *ngIf="answered && question.right_answer === choice.id"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
