<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="返回" color="secondary"></ion-back-button>
      </ion-buttons>
      <ion-title>目录</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-list-header>
        <ion-label>{{tracker.learned_book.book?.name}}</ion-label>
      </ion-list-header>
      <ion-item button="" [color]="tracker.learnedUnit?.unit_id === unit.unit_id ? 'light' : ''" *ngFor="let unit of tracker.learned_book.learned_units" (click)="openUnit(unit.unit_id)">
        <ion-label>
          <h2>{{unit.unit_name}}</h2>
          <p style="text-align: right">条目:{{unit.total}} | 已学: <ion-text color="success">{{unit.completions}}</ion-text> | 错误: <ion-text color="danger">{{unit.wrongs}}</ion-text></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page word-content" id="main-content">
  <ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-label slot="start">{{tracker.learned_book.book?.name}}－{{tracker.learnedUnit.unit_name}}</ion-label>
      <ion-title>{{ctx.learnTypes[ctx.learnType]}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="started">
    <app-word-read #wordReadComponentRef (learnOverEvent)="handleOverEvent()" *ngIf="ctx.learnType === 'read' && !tracker.isReview"></app-word-read>
    <app-word-listen #wordListenComponentRef (learnOverEvent)="handleOverEvent()" *ngIf="ctx.learnType === 'listen' && !tracker.isReview"></app-word-listen>
    <app-word-spell #wordSpellComponentRef (learnOverEvent)="handleOverEvent()" *ngIf="ctx.learnType === 'spell' && !tracker.isReview"></app-word-spell>
  </ion-content>
</div>
