<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button="" *ngFor="let unit of learnedUnits" (click)="openUnit(unit.unit_id)">
        <ion-label>
          <h2>{{unit.unit_name}}</h2>
          <p style="text-align: right">条目:{{unit.words}} | 已学: {{unit.learns}} | 错误: {{unit.wrongs}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page word-content" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label>智能复习中</ion-label>
    </ion-item>
    <ion-card class="word-card">
      <ion-item lines="none" color="#fff">
        <ion-thumbnail slot="start" *ngIf="true">
          <ion-img [src]="getWordImg(word.picture)"></ion-img>
        </ion-thumbnail>
        <ion-card-header mode="md">
          <ion-card-title [color]="tracker.getColor()">{{word.word}}</ion-card-title>
          <ion-card-subtitle>{{word.phonetic_symbol}}{{state}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="state === 'survey'">{{word.usage}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="state !== 'survey'">{{word.acceptation}}</ion-card-subtitle>
        </ion-card-header>
      </ion-item>
    </ion-card>
    <ion-item lines="none" >
      <label>{{tracker.learnType}}: {{tracker.completions}}/{{tracker.total}}</label>
      <div slot="end" *ngIf="state === 'survey' && !tracker.testable()">
        <ion-button (click)="survey(true)" size="default" color="success" class="custom-width-button">认识</ion-button>
        <ion-button (click)="survey(false)" size="default" color="danger" class="custom-width-button"> 不认识</ion-button>
      </div>
      <div slot="end" *ngIf="state === 'evaluate'">
        <ion-button  (click)="evaluate(true)" size="default" color="success" class="custom-width-button">
          认对了
        </ion-button>
        <ion-button  (click)="evaluate(false)" size="default" color="danger" class="custom-width-button">
          认错了
        </ion-button>
      </div>
      <div slot="end" *ngIf="state === 'repeater'">
        <ion-button  (click)="repeater()" size="default" color="success" class="custom-width-button">跟读
        </ion-button>
      </div>
      <div slot="end" *ngIf="state === 'next'">
        <ion-button  (click)="next()" size="default" color="success" class="custom-width-button">下一个
        </ion-button>
      </div>
    </ion-item>

    <ion-card class="word-card" *ngIf="state !== 'survey'">
      <ion-card-content>
        <p [innerHTML]="formatText(word.example || '')"></p>
        <p [innerHTML]="formatText(word.parse || '')"></p>
      </ion-card-content>
    </ion-card>

    <ion-card class="word-card" *ngIf="tracker.testable()">
      <ion-card-content>
        <ion-item button="" detail="false" *ngFor="let option of options" (click)="replyOption(option.id)"
                  class="question-option">
          <ion-label>
            <h3>{{option.acceptation}}</h3>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


  </ion-content>
</div>
