<ion-header>
  <ion-toolbar>
    <ion-title>学生充值</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-input label="充值卡密码:" [(ngModel)]="rechargeForm.card_password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col><ion-button (click)="submit()">确认</ion-button></ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
