<app-header [title]="'学习中心'"></app-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group [multiple]="true" [value]="getBookCategoryCodes()">
    <ion-accordion *ngFor="let category of bookCategories"  [value]="category.code">
      <ion-item slot="header" color="light">
        <ion-label>{{category.name}}</ion-label>
      </ion-item>
      <div class="ion-padding my-book-card-container" slot="content">
        <ion-card *ngFor="let book of filterBook(category.code)" class="my-book-card">
          <div class="my-book-card-content">
            <ion-img style="margin-left: 2px" slot="start" [src]="getWordImg(book.book.cover)"></ion-img>
            <div class="my-book-card-text">
              <ion-card-header>
                <ion-card-title>{{ book.book?.name }}</ion-card-title>
              </ion-card-header>
              <div class="my-book-card-buttons">
                <ion-button size="small" color="light" (click)="removeBookModal(book)" >删除</ion-button>
                <ion-button size="small" color="light" [routerLink]="['/tabs/word']" [queryParams]="{bookId:book.book?.id, learnType:selectedItem.code}">学习</ion-button>
              </div>
            </div>
          </div>
          <ion-progress-bar [value]="book.progress"></ion-progress-bar>
        </ion-card>
      </div>

    </ion-accordion>

  </ion-accordion-group>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon [name]="selectedItem.iconName"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let item of learnTypes" (click)="selectItem(item)">
        <ion-icon [name]="item.iconName"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
