<ion-grid>
  <ion-row>
    <ion-col>
    <ion-item lines="none">
      <ion-label slot="start">{{tracker.isReview ? '智能复习' : '认读'}}: {{tracker.getCompletions()}}/{{tracker.total}}</ion-label>
      <ion-label slot="end">本组进度 ({{tracker.total}}-<ion-text color="success">{{tracker.getCompletions()}}</ion-text>) 生词 (<ion-text color="danger">{{tracker.wrongs}}</ion-text>)  课程总进度 ({{tracker.learned_book.total||0}} - <ion-text color="success">{{tracker.learned_book.completions || 0}}</ion-text>) 生词本 (<ion-text color="danger">{{tracker.learned_book?.wrongs||0}}</ion-text>)</ion-label>
    </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="height:250px; background-color: #fff">
    <ion-col size="2" style="display:flex;height:100%;align-items: center">
      <ion-img *ngIf="tracker.word.picture" style="height: 180px; width: 180px" [src]="tracker.getWordImg(tracker.word.picture)"></ion-img>
    </ion-col>
    <ion-col size="10">
      <h1><ion-text style="font-size: 76px" [color]="tracker.getColor()">{{tracker.word.word}}</ion-text></h1>
      <h2>{{tracker.word.phonetic_symbol}}</h2>
      <h2 *ngIf="currentState === State.Survey">{{tracker.word.usage}}</h2>
      <h2 *ngIf="currentState !== State.Survey">{{tracker.word.acceptation}}</h2>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="currentState === State.Survey && !tracker.testable()">
    <ion-col size="6"></ion-col>
    <ion-col size="3"><ion-button expand="full"  (click)="performAction('survey',true)" size="large" color="success" class="custom-width-button">认识</ion-button>
    </ion-col>
    <ion-col size="3"><ion-button expand="full" (click)="performAction('survey',false)" size="large" color="danger" class="custom-width-button"> 不认识</ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="currentState === State.Evaluate">
    <ion-col size="6"></ion-col>
    <ion-col size="3"><ion-button expand="full"   (click)="performAction('evaluate',true)" size="large" color="success" class="custom-width-button">
      认对了
    </ion-button>
    </ion-col>
    <ion-col size="3"><ion-button expand="full"  (click)="performAction('evaluate',false)" size="large" color="danger" class="custom-width-button">
      认错了
    </ion-button></ion-col>
  </ion-row>

  <ion-row *ngIf="currentState === State.Repeater">
    <ion-col size="6"></ion-col>
    <ion-col size="3"></ion-col>
    <ion-col size="3"><ion-button expand="full"  (click)="performAction('repeater')" size="large" color="success" class="custom-width-button">跟读
    </ion-button></ion-col>
  </ion-row>

  <ion-row *ngIf="currentState === State.Next">
    <ion-col size="6"></ion-col>
    <ion-col size="3"></ion-col>
    <ion-col size="3"><ion-button expand="full"  (click)="performAction('next')" size="large" color="success" class="custom-width-button">下一个
    </ion-button></ion-col>
  </ion-row>


  <ion-row *ngIf="currentState !== State.Survey" style="background-color: #fff">
    <ion-col style="font-size: 20px;line-height: 40px">
      <p [innerHTML]="tracker.formatText(tracker.word.example || '')"></p>
      <p [innerHTML]="tracker.formatText(tracker.word.parse || '')"></p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="tracker.testable()"  style="margin-top: 20px; background-color: #fff">
    <ion-col size="2"></ion-col>
    <ion-col size="9" >
      <ion-list style="background-color: #fff">
        <ion-item button="" detail="false" *ngFor="let option of tracker.options; let i=index" (click)="replyOption(option.id)"
                  class="question-option">
          <ion-label style="font-size: 18px;">
            {{options[i]}}.  {{option.acceptation}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-grid>
