<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/quiz-list" text="返回" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>测试详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <p>{{quiz.title}}</p>
        <h1>王梓豪 <ion-badge style="font-size: 16px" color="danger" >{{quiz.score}}分</ion-badge></h1>共 {{quiz.questions?.length}} 题 对 {{quiz.corrects}} 题 错 {{quiz.wrongs}} 题  用时： {{quiz.duration | date: 'mm分ss秒' : 'UTC'}}
      </ion-label>
      <ion-note>测试时间：{{quiz.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}</ion-note>

    </ion-list-header>
    <ion-item-group *ngFor="let question of quiz.questions; let n=index">
      <ion-item-divider color="medium">
        <ion-label>{{n+1}}.　{{question.title}}</ion-label>
        <ion-badge [color]="question.result ? 'success' : 'danger'" slot="end">{{getChoiceLetter(question)}}</ion-badge>
      </ion-item-divider>

      <ion-item *ngFor="let choice of question.choices; let i=index">
        <ion-label><ion-text [color]="getOptionColor(question, choice)">{{options[i]}}.　{{choice.title}}</ion-text></ion-label>
      </ion-item>
f
    </ion-item-group>
  </ion-list>
</ion-content>
