<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quiz-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>

      <ion-label><p>人教版·初中英语单词速记·同步课程七年级上 02认读学前测试 </p>
      <h2>王梓豪 </h2>共 20 题 对 12 题 错 8 题  用时：2分15秒
      </ion-label><ion-badge >60</ion-badge>
      <ion-note>学前测试  测试时间：2023-12-06 11:03:23</ion-note>

    </ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>A</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Angola</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Argentina</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Armenia</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
