<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="learn" href="/tabs/learn">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>学习中心</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="book" href="/tabs/book">
      <ion-icon aria-hidden="true" name="cloud-download-outline"></ion-icon>
      <ion-label>课程中心</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="student" href="/tabs/student">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>个人中心</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notebook" href="/tabs/notebook">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>生词本</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
