<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="learn" href="/tabs/learn">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>学习中心</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="book" href="/tabs/book">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>课和中心</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="student" href="/tabs/student">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>个人中心</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
