<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>操作提示</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-text-center">
  <p style="font-size: 18px"><ion-text color="success">本章节已学习完成！</ion-text></p>
  <p style="font-size: 18px">如果想重新学习，需要清空原来的学习记录。记录清空后将无法安排智能复习！
  <p style="font-size: 18px"><ion-text color="danger">确定要清空吗？</ion-text></p>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-button slot="end" size="Default" color="medium" (click)="cancel()">取消</ion-button>
    <ion-button slot="end" size="Default" (click)="confirm()">确认</ion-button>
  </ion-item>
</ion-footer>
