<app-header [title]="'课程中心'"></app-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button size="default" *ngFor="let kind of kinds" (click)="changeCat(kind.code)" [color]="activeKind===kind.code ? 'secondary' : 'light'" >{{kind.name}}</ion-button>
  </ion-item>
  <ion-accordion-group [multiple]="true" [value]="getCategoryCodes()">

    <ion-accordion *ngFor="let category of bookCategories"  [value]="category.code">
      <ion-item slot="header" color="light">
        <ion-label>{{category.name}}</ion-label>
      </ion-item>
      <div class="image-grid" slot="content">
        <ion-img *ngFor="let book of filterBook(category.code)" [class]="isLearned(book.id) ? 'disabled grayscale' : ''"
                 (click)="addBook(book.id)" style="width:150px; height:150px; margin: 10px"
                 [src]="getWordImg(book.cover)" [alt]="book.name">
        </ion-img>

      </div>
    </ion-accordion>

  </ion-accordion-group>

</ion-content>
