<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button size="small" *ngFor="let kind of kinds" (click)="changeCat(kind.code)" [color]="activeKind===kind.code ? 'secondary' : 'light'" >{{kind.name}}</ion-button>
  </ion-item>
  <ion-accordion-group [multiple]="true" [value]="getCategoryCodes()">

    <ion-accordion *ngFor="let category of bookCategories"  [value]="category.code">
      <ion-item slot="header" color="light">
        <ion-label>{{category.name}}</ion-label>
      </ion-item>
      <div class="image-grid" slot="content">
        <ion-img button *ngFor="let book of filterBook(category.code)"
                 (click)="add(book.id)" style="width:150px; height:150px; margin: 10px"
                 [src]="getWordImg(book.cover)" [alt]="book.name">
        </ion-img>

      </div>
    </ion-accordion>

  </ion-accordion-group>
</ion-content>
