<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let unit of units" (click)="openUnit(unit.id)">
        <ion-label >
          <h2>{{unit.name}}</h2>
          <p style="text-align: right">条目:{{unit.word_count}} | 已学: 0 | 错误: 0</p>
        </ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-item lines="none" color="#fff">
        <ion-thumbnail slot="start" *ngIf="true">
          <ion-img [src]="getWordImg(word.picture)"></ion-img>
        </ion-thumbnail>

        <ion-card-header>
          <ion-card-title color="red">{{word.word}}</ion-card-title>
          <ion-card-subtitle>{{word.phonetic_symbol}}</ion-card-subtitle>
          <ion-card-subtitle>{{word.acceptation}}</ion-card-subtitle>
        </ion-card-header>        
        
      </ion-item>
    </ion-card>

    <ion-toolbar >
      <ion-buttons slot="end">
        <ion-button class="custom-button">按钮1</ion-button>
        <ion-button color="secondary">按钮2</ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-card>
      <ion-card-content>
        <p  [innerHTML]="formatText(word.example)"></p>
        <p  [innerHTML]="formatText(word.parse)"></p>
      </ion-card-content>
    </ion-card>
    


  </ion-content>
</div>