<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Countdown Timer</h2>
  <p>{{ countdownTime }}</p>
  <ion-button (click)="start()">Start</ion-button>
  <ion-button (click)="pause()" [disabled]="paused">Pause</ion-button>
  <ion-button (click)="resume()" [disabled]="!paused">Resume</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>
  <ion-button (click)="delay()">Delay</ion-button>
</ion-content>
