.container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  ion-accordion ion-label {
    font-size: 9px; /* 设置字体大小 */
    padding: 0px; /* 设置内边距 */
    margin: 0px;
  }

  ion-accordion ion-item[slot="header"] {
    --min-height: 24px; /* 设置最小高度 */
    height: 24px;
    padding: 0px; /* 设置内边距 */
  }

