<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 31</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <ion-row class="ion-no-padding">
    <ion-col size="2" class="ion-no-padding">
      <ion-button size="small" (click)="changeTab(0)" [color]="activeTab === 0 ? 'secondary' : 'light'" >Tab 1</ion-button>
    </ion-col>
    <ion-col size="2" class="ion-no-padding">
      <ion-button (click)="changeTab(1)" [color]="activeTab === 1 ? 'secondary' : 'light'" expand="full">Tab 2</ion-button>
    </ion-col>
    <ion-col size="2" class="ion-no-padding">
      <ion-button (click)="changeTab(2)" [color]="activeTab === 2 ? 'secondary' : 'light'" expand="full">Tab 3</ion-button>
    </ion-col>
    <ion-col size="2" class="ion-no-padding">
      <ion-button (click)="changeTab(3)" [color]="activeTab === 3 ? 'secondary' : 'light'" expand="full">Tab 4</ion-button>
    </ion-col>
    <ion-col size="2" class="ion-no-padding">
      <ion-button (click)="changeTab(4)" [color]="activeTab === 4 ? 'secondary' : 'light'" expand="full">Tab 5</ion-button>
    </ion-col>
    <ion-col size="2" class="ion-no-padding">
      <ion-button (click)="changeTab(5)" [color]="activeTab === 5 ? 'secondary' : 'light'" expand="full">Tab 6</ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
      <ion-col>
        <div *ngIf="activeTab === 0">
          <ion-card class="group-card">
            <ion-card-header class="group-header">
              Group 1
            </ion-card-header>
            <ion-card-content class="group-content">
              <div class="photo-container">

                <ion-card *ngFor="let book of books" >
                  <div class="card-content">
                    <ion-img slot="start" [src]="bookUrl + book.cover"></ion-img>
                    <div class="card-text">
                      <ion-card-header>
                        <ion-card-title>{{ book.name }}</ion-card-title>
                        <ion-card-subtitle>{{book.kind}}</ion-card-subtitle>
                      </ion-card-header>
                                     
            
                      <div class="card-buttons">
                        <ion-button size="small" color="light">删除</ion-button>
                        <ion-button size="small" color="light">学习</ion-button>
                      </div>
                    </div>
                  </div>
                  
                  <ion-progress-bar value="0.5"></ion-progress-bar>
                </ion-card>



                
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="activeTab === 1">
          <!-- Content for Tab 2 -->
          <h2>Tab 2 Content</h2>
          <p>This is the content for Tab 2.</p>
        </div>
        <div *ngIf="activeTab === 2">
          <!-- Content for Tab 3 -->
          <h2>Tab 3 Content</h2>
          <p>This is the content for Tab 3.</p>
        </div>
        <div *ngIf="activeTab === 3">
          <!-- Content for Tab 4 -->
          <h2>Tab 4 Content</h2>
          <p>This is the content for Tab 4.</p>
        </div>
        <div *ngIf="activeTab === 4">
          <!-- Content for Tab 5 -->
          <h2>Tab 5 Content</h2>
          <p>This is the content for Tab 5.</p>
        </div>
        <div *ngIf="activeTab === 5">
          <!-- Content for Tab 6 -->
          <h2>Tab 6 Content</h2>
          <p>This is the content for Tab 6.</p>
        </div>
      </ion-col>
    </ion-row>
 
</ion-content>
