<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quiz-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-list>
    <ion-item button="" [routerLink]="['/tabs/quiz-detail']" [queryParams]="{unitId: quiz.id}" *ngFor="let quiz of quizzes">
      <ion-label>
        <h2>{{quiz.create_at}} <ion-text color="err1">{{quiz.unit_name}} {{quiz.test_type}}</ion-text></h2>
        <p>共{{quiz.questions.size}}题 对<ion-text color="success">{{quiz.corrects}}</ion-text>题 错<ion-text color="danger">{{quiz.wrongs}}</ion-text>题 用时：2分15秒</p>
      </ion-label>
      <ion-badge color="danger" slot="end">{{quiz.score}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
