<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>quiz-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>2023-12-06 11:03:23 <ion-text color="err1">人教版·初中英语单词速记·同步课程七年级上 02认读学前测试</ion-text></h2>
        <p>共20题 对<ion-text color="success">8</ion-text>题 错<ion-text color="danger">12</ion-text>题 用时：2分15秒</p>
      </ion-label>
      <ion-badge color="danger" slot="end">22</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
