<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label slot="start">{{tracker.isReview ? '智能复习' : '拼写'}}: {{tracker.getCompletions()}}/{{tracker.total}}</ion-label>
        <ion-label slot="end">本组进度 ({{tracker.total}}-<ion-text color="success">{{tracker.getCompletions()}}</ion-text>) 生词 (<ion-text color="danger">{{tracker.wrongs}}</ion-text>)  课程总进度 ({{tracker.learned_book.total||0}} - <ion-text color="success">{{tracker.learned_book.completions || 0}}</ion-text>) 生词本 (<ion-text color="danger">{{tracker.learned_book.wrongs||0}}</ion-text>)</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
    <ion-row style="height:250px; background-color: #fff">
        <ion-col style="flex: 0 0 180px;">
            <ion-img *ngIf="currentState !== State.Survey" style="height: 160px; width: 160px"
                     [src]="tracker.getWordImg(tracker.word.picture)"></ion-img>
        </ion-col>
        <ion-col style="flex: 1;">
            <ion-grid>
              <ion-row>
                <ion-col class="custom-center">
                  <h3><ion-text [color]="tracker.getColor()">{{tracker.word.acceptation}}</ion-text></h3>
                </ion-col>
              </ion-row>
              <ion-row style="height: 66px">
                <ion-col class="custom-center">
                  <ion-label style="margin-left: 20px" *ngIf="currentState === State.Evaluate">
                    <ion-text style="font-size: 42px;" *ngFor="let a of mySpell.word; let i = index"
                              [color]="getLetterColor(i)">{{a}}</ion-text>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="custom-center">
                  <div [formGroup]="wordForm" >
                    <ion-input formControlName="wordInput" style="width: 400px;font-size: 22px;float:left" [pattern]="tracker.word.word" label="拼写" labelPlacement="stacked" fill="outline" [counter]="true" [maxlength]="tracker.word.word.length"
                               (ionInput)="onInputChange($event)"
                               (keyup.enter)="onEnterPressed()" helper-text="使用键盘输入"
                               error-text="拼写错误！">
                    </ion-input>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
    <ion-row style="height:100px; background-color: #fff">
        <ion-col style="flex: 0 0 180px;"></ion-col>
        <ion-col style="flex: 1;" class="custom-center">
            <table class="word-spell" >
                <tr>
                    <td *ngFor="let w1 of mySpell.option1; let i = index" [class]="getCellColor('option1', i)"
                        (click)="spellOptionReply('option1',i)" ><ion-text [color]="tracker.getColor()">{{w1}}</ion-text></td>
                </tr>
                <tr>
                    <td *ngFor="let w2 of mySpell.option2; let i = index" [class]="getCellColor('option2', i)"
                        (click)="spellOptionReply('option2',i)" ><ion-text [color]="tracker.getColor()">{{w2}}</ion-text></td>
                </tr>
            </table>

        </ion-col>
    </ion-row>

    <ion-row *ngIf="currentState === State.Next">
        <ion-col size="6"></ion-col>
        <ion-col size="3"></ion-col>
        <ion-col size="3"><ion-button expand="full"  (click)="performAction('next')" size="large" color="success" class="custom-width-button">下一个
        </ion-button></ion-col>
    </ion-row>
    <ion-row *ngIf="currentState !== State.Survey" style="background-color: #fff;margin-top: 20px">
        <ion-col style="font-size: 20px;line-height: 40px">
            <p [innerHTML]="tracker.formatText(tracker.word.example || '')"></p>
            <p [innerHTML]="tracker.formatText(tracker.word.parse || '')"></p>
        </ion-col>
    </ion-row>
</ion-grid>
