<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>按周</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>按月</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>按年</ion-label>
    </ion-segment-button>
  </ion-segment>
  <canvas
    baseChart
    class="chart"
    [data] = "barChartData"
    [type]="'bar'"
  >
  </canvas>
</ion-content>
